{%- assign language = page.lang -%}

<div class="container-md col">
    <h2 style="text-align: center;">{{ site.data.contact["name"] }}</h2>
    <div class="row justify-content-evenly">
        <div class="col col-5 align-self-center" style="text-align: center; min-width: 275px;">
            <div><span id="age"></span> ans</div>
            <div>France - Lille</div>
            <div>Mobile: <a href="tel:{{ site.data.contact["name"] }}">{{ site.data.contact["mobile"] }}</a></div>
            <div>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></div>
            <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg class="svg-icon">
                    <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
                </svg> <span class="username">{{ site.github_username| escape }}</span></a>
        </div>
        <div class="col-5">
            <img class="img-fluid rounded-circle portrait-img col-md-auto" src="/assets/images/portrait.jpg">
        </div>
    </div>
    <p style="text-align: center;">{{ site.data.contact["profile"][language] }}</p>
</div>
<script>
    var today = new Date();
    var birth_date = new Date("1996-09-09")
    var ms_difference = today - birth_date;
    // ms to s => m => h => d => y
    var year_difference = ms_difference / (1000 * 60 * 60 * 24 * 365)
    document.getElementById("age").innerHTML = Math.trunc(year_difference);
</script>