{%- assign language = page.lang -%}

<div class="container-md col">
    <h2 style="text-align: center;">{{ site.data.contact["name"] }}</h2>
    <div class="row">
        <div class="col align-self-center" style="text-align: center; min-width: 275px;">
            <div><span id="age"></span> ans</div>
            <div>France - Lille</div>
            <div>Mobile: <a href="tel:+33781734878">+33 7 81 73 48 78</a></div>
            <div>Email: <a href="mailto:{{ site.email }}">corentin_ducatez@hotmail.fr</a></div>
            <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg class="svg-icon">
                    <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
                </svg> <span class="username">{{ site.github_username| escape }}</span></a>
        </div>
        <img class="img-fluid rounded-circle portrait-img col-md-auto" src="/assets/images/portrait.jpg">
    </div>
    <p style="text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
        Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book.</p>
</div>
<script>
    var today = new Date();
    var birth_date = new Date("1996-09-09")
    var ms_difference = today - birth_date;
    // ms to s => m => h => d => y
    var year_difference = ms_difference / (1000 * 60 * 60 * 24 * 365)
    document.getElementById("age").innerHTML = Math.trunc(year_difference);
</script>