{%- assign language = page.lang -%}

<h2>{{ site.data.education_lang["section_title"][language] }}</h2>

<h3>{{ site.data.education_lang["epitech_title"][language] }}</h3>
<h4>{{ site.data.education_lang["epitech_location"][language] }} | {{ site.data.education_lang["epitech_date"][language] }}</h4>

<h3>{{ site.data.education_lang["harbin_title"][language] }}</h3>
<h4>{{ site.data.education_lang["harbin_location"][language] }} | {{ site.data.education_lang["harbin_date"][language] }}</h4>
