{%- assign language = page.lang -%}

<h2>{{ site.data.education["section_title"][language] }}</h2>

<dl>
    <dt>{{ site.data.education["epitech_title"][language] }}</dt>
    <dd>{{ site.data.education["epitech_location"][language] }} | {{ site.data.education["epitech_date"][language] }}
    </dd>
</dl>

<dl>
    <dt>{{ site.data.education["harbin_title"][language] }}</dt>
    <dd>{{ site.data.education["harbin_location"][language] }} | {{ site.data.education["harbin_date"][language] }}</dd>
</dl>