{%- assign language = page.lang -%}

<h2>{{ site.data.skills_lang["section_title"][language] }}</h2>

<h3>{{ site.data.skills_lang["programming_languages_subsection"][language] }}</h3>

<ul>
    <li>python</li>
    <li>C/C++</li>
    <li>bash</li>
    <li>HTML/CSS/JS</li>
</ul>

<h3>{{ site.data.skills_lang["tools_subsection"][language] }}</h3>
<ul>
    <li>Gitlab CI</li>
    <li>Docker</li>
</ul>

<h3>{{ site.data.skills_lang["frameworks_subsection"][language] }}</h3>
<ul>
    <li>ROS (Robot Operating System)</li>
    <li>Angular</li>
</ul>

<h3>{{ site.data.skills_lang["methodologies_subsection"][language] }}</h3>

<ul>
    <li>Agile / Scrum</li>
    <li>Code / Merge review</li>
</ul>

<p>{{ site.data.skills_lang["languages_subsection"][language] }}</p>