<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{% include head.html %}

<body class="bg-light text-dark">
    {% include header.html %}
    <main class="page-content border border-3 rounded" aria-label="Content">
        <div class="wrapper bg-light main-resume">
            {{ content }}
            {% include contact.html %}
            {% include education.html %}
            {% include work_experiences.html %}
            {% include skills.html %}
            {% include about_me.html %}
        </div>
    </main>
    <!-- JS theme_switch -->
    <script src="../assets/js/theme_switch.js" defer></script>
</body>
</html>