@media print {
    main
    {
        margin-left: 0 !important;
        margin-right: 0 !important;
        max-width: none !important;
    }
    .portrait-img
    {
        max-width: 200px;
    }

    .bg-light
    {
        background-color: white !important;
    }

    a
    {
        color: white;
    }

    .left_part_resume_content
    {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    
    html {
        font-size: 0.825rem !important;
    }

    @page {
        width:  210mm !important;
        height: 297mm !important;
        margin: 0 10px 0 0 !important;
        padding: 0 !important;
    }

    html, body, main
    {
        margin: 0  !important;
    }
}

@media (max-width: 850px)
{
    html {
        font-size: 0.8rem;
    }

    h2
    {
        font-size: 1.25rem;
    }

    h3
    {
        font-size: 1rem;
    }
}

@media (min-width: 850px)
{
    .main-resume
    {
        margin: auto;
    }

    .left_part_resume
    {
        max-width: 550px;
    }


    html {
        font-size: 1rem;
    }

    h2
    {
        font-size: 1.375rem;
    }

    h3
    {
        font-size: 1.125rem;
    }
}

@media (min-width: 1200px)
{
    h2
    {
        font-size: 1.625rem;
    }

    h3
    {
        font-size: 1.375rem;
    }
}

@media (min-width: 1400px)
{
    html {
        font: 1.1rem var(--bs-font-sans-serif);
    }
    h2
    {
        font-size: 1.75rem;
    }

    h3
    {
        font-size: 1.5rem;
    }
}

html, body, main
{
    width: 100%;
    height: 100%;
}

.main-resume
{
    height: 100%;
}

.left_part_resume
{
    padding-bottom: 10px;
    padding-top: 10px;
}

.left_part_resume_content
{
    text-align: center;
    overflow-wrap: break-word;
}

.right_part_resume
{
    margin-top: 10px;
}

h2
{
    font-weight: bold;
    text-align: center;
}

h3
{
    margin-bottom: 2.5px;
    text-decoration: underline;
    font-weight: 600;
}

dt
{
    font-weight: bold;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}

dd
{
    margin: 0px 0px 0px 40px;
}

dl
{
    margin: 0px;
}

a
{
    font-weight: bold;
}

.portrait-img
{
    max-width: 300px;
}

.background
{
    background-color: bisque;
    height: 100%;
    width: 100vw;
    z-index: -1;
    position: relative;
}

#lightSwitch {
    cursor: pointer;
}